{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Access Logs</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Client
                </th>
                <th>
                  Method
                </th>
                <th>
                  Request
                </th>
                <th class="text-center">
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  37.152.163.59
                </td>
                <td>
                  GET
                </td>
                <td>
                  /image/29314?name=%D8%AF%DB%8C%D8%A8%D8%A7-7.j...	
                </td>
                <td class="text-center">
                  200	
                </td>
              </tr>
              <tr>
                <td>
                  86.104.110.254
                </td>
                <td>
                  GET
                </td>
                <td>
                  /static/images/zanbil-kharid.png	
                </td>
                <td class="text-center">
                  404
                </td>
              </tr>
              <tr>
                <td>
                  5.125.254.169
                </td>
                <td>
                  GET
                </td>
                <td>
                  /static/images/next.png
                </td>
                <td class="text-center">
                  200	
                </td>
              </tr>
              <tr>
                <td>
                  85.9.73.119	
                </td>
                <td>
                  GET
                </td>
                <td>
                  /static/images/checked.png
                </td>
                <td class="text-center">
                  200	
                </td>
              </tr>
              <tr>
                <td>
                  65.49.68.192
                </td>
                <td>
                  GET
                </td>
                <td>
                  /image/29314?name=%D8%AF%DB%8C%D8%A8%D8%A7-4.j...	
                </td>
                <td class="text-center">
                  200	
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> UPLOAD</h4>
        <p class="category"> Logs here to get Analytics</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <a class="btn btn-primary btn-lg" href="http://20.26.235.201:8501" role="button" target="_blank" rel="noopener noreferrer">Anylatics</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Export</h4>
        <p class="category">Visualization</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <a class="btn btn-primary btn-sm" href="https://file162.gofile.io/download/0ffe0b39-7d08-48bd-9854-280fc80e99e2/access3.csv" role="button" target="_blank" rel="noopener noreferrer">ELK</a>
          <a class="btn btn-primary btn-sm" href="https://store4.gofile.io/download/c5d6e942-bb4b-4b95-b029-f42e1217d74c/webserver.csv" role="button" target="_blank" rel="noopener noreferrer">Prometheus & Grafana</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
