{% extends "layouts/base.html" %}
{{pas}}
<!-- Project ID  -->
{{pas2}}
<!-- Key Value  -->
<!-- Buckets -->
<!-- Log Store -->

{% block title %} UI Notifications {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- {{pas2}} -->

<div class="col">
  <div class="row-md-12">
    <div class="col-md-16">
      <h4>Project - Id : {{pas[0]['id']}}</h4>
      <h4>Name : {{pas[0]['name']}}</h4>
      <h4>Description : {{pas[0]['description']}}</h4>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Buckets</h4>
          <p class="category"> Configuration</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank"
              onclick="demo.showNotification('top','right')">Upload</a>
            <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank">Show</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-16">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Key - Value Store</h4>
          <p class="category"> Configuration</p>
        </div>
        <form method="POST" action="/create_key_value" autocomplete="off" class="">
          <div class="card-body">
            <div class="table-responsive">
              <input type="text" class="form-control" name="key" aria-describedby="key" placeholder="Enter Key">
              <br>
              <input type="text" class="form-control" name="value" aria-describedby="Value" placeholder="Enter Value">
              <br>
              <button type="submit" class="btn btn-primary btn-lg" role="button" target="_blank" onclick="demo.showNotification('top','right')">Create</button>
              <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank">Show</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-16">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Document Store</h4>
          <p class="category"> Configuration</p>
        </div>
        <form method="POST" action="/document" autocomplete="off" class="">
          <div class="card-body">
            <div class="table-responsive">
              <input type="text" class="form-control" name="key" aria-describedby="key" placeholder="Enter json">
              <br>
              <!-- <input type="text" class="form-control" name="value" aria-describedby="Value" placeholder="Enter Value">
              <br> -->
              <button type="submit" class="btn btn-primary btn-lg" role="button" target="_blank" onclick="demo.showNotification('top','right')">Create</button>
              <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank">Show</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-16">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Log Store</h4>
          <p class="category"> Configuration</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <input type="text" class="form-control" id="log" aria-describedby="log" placeholder="Enter log">
            <br>
            <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank"
              onclick="demo.showNotification('top','right')">Create</a>
            <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank">Show</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card card-tasks">
      <div class="card-header ">
        <h6 class="title d-inline">Buckets</h6>
        <div class="dropdown">
          <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#pablo">Action</a>
            <a class="dropdown-item" href="#pablo">Another action</a>
            <a class="dropdown-item" href="#pablo">Something else</a>
          </div>
        </div>
      </div>
      <!-- BUCKETS  -->
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <h6 class="title d-inline">Empty! Create One</h6>
              {% for data in pas3 %}
              <tr>
                <td>
                  <p class="title">{{data['']}}</p>
                  <p class="text-muted">{{data['']}}</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Key - Value </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Key - Id
                </th>
                <th lass="text-center">
                  Address
                </th>
                <!-- <th>
                  ProjectId
                </th> -->
              </tr>
            <tbody>
              {% for data in pas2 %}
              <tr>
                <td>
                  {{data['id']}}
                </td>
                <td>
                  {{data['address']}}
                </td>
                <!-- <td>
                    {{data['projectId']}}
                </tr> -->
                {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- Log Store -->
<div>
  <div class="card card-tasks">
    <div class="card-header ">
      <h6 class="title d-inline">Log Store</h6>
      <h6 class="title d-inline">Empty! Create One</h6>
      <!-- <div class="dropdown"> -->
      <!-- <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
        <i class="tim-icons icon-settings-gear-63"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#pablo">Action</a>
        <a class="dropdown-item" href="#pablo">Another action</a>
        <a class="dropdown-item" href="#pablo">Something else</a>
      </div> -->
    </div>
  </div>
  <!-- BUCKETS  -->
  <div class="card-body ">
    <div class="table-full-width table-responsive">
      <table class="table">
        <tbody>
          {% for data in pas4 %}
          <tr>
            <td>
              <p class="title">{{data['']}}</p>
              <p class="text-muted">{{data['']}}</p>
            </td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                <i class="tim-icons icon-pencil"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}